.takeAppointment {
    margin-top: 50px;

    background: #3bc053 !important;
    border: 1px solid #3bc053 !important;
    color: #fff !important;
    padding: 1em 1.5em;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50px;
    
    text-transform: uppercase;
}

.takeAppointment:hover {
    background-color: #555;
}

.doctorsingle{
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.doc_body{
    width: 500px;
    height: 600px;
}

.imageDoc{
    width: 150px;
    height: 150px;
   
}
.timeCountdown{
    font-weight: 900;
    color: red;
}

a.disabled {
    pointer-events: none;
    cursor: default;
  }